<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habitracker</title>
  </head>
  <body>
  {% if request.user.is_authenticated %}
    <p><a href="{% url 'tasks' %}">{{ request.user }}</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <p><a href="{% url 'tasks' %}">{{ request.user }}</a></p>
    <p><a href="{% url 'login' %}">Login</a></p>
  {% endif %}
    <p><strong><a href="{% url 'task-create' %}">Create a new task</a></strong></p>
    <hr>
    <form method="GET">
      <input type="text" name="search-area" value="{{ search_input }}" />
      <input type="submit" value="Search..."/>
    </form>
    <table>
      <tr>
        <th>№</th>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td><strong>{{ task.id }}</strong></td>
        <td><strong>{{ task.title }}</strong></td>
        <td><strong>{{ task.description }}</strong></td>
        <td><a href="{% url 'task-detail' task.id %}">More...</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
